spring:
  data:
    redis:
      host: redis
      port: 6379
      database: 10
  datasource:
    url: 'jdbc:postgresql://postgres:5432/hrm'
    username: postgres
    password: postgres
    driverClassName: org.postgresql.Driver
  docker:
    compose:
      enabled: false
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false
    hibernate:
      ddl-auto: none
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: rabbitmq_admin
    password: rabbitmq_admin
    virtual-host: local
server:
  address: 0.0.0.0
  port: 8081

