spring:
  data:
    redis:
      host: localhost
      port: 6379
      database: 10
  mail:
    host: sandbox.smtp.mailtrap.io
    port: '587'
    username: CHANGE_ME
    password: CHANGE_ME
  datasource:
    url: 'jdbc:postgresql://localhost:5433/hrm'
    username: postgres
    password: postgres
    driverClassName: org.postgresql.Driver
  docker:
    compose:
      enabled: false
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: false
    hibernate:
      ddl-auto: none
  rabbitmq:
    host: localhost
    port: 5672
    username: rabbitmq_admin
    password: rabbitmq_admin
    virtual-host: local
system:
  name:
    mail: HRM System
aws:
  s3:
    accessKeyId: CHANGE_ME
    secretAccessKey: CHANGE_ME
    region: ap-southeast-1
    bucket: hrm-tool
    object:
      url: 'https://${aws.s3.bucket}.s3.${aws.s3.region}.amazonaws.com/'
calendarific:
  api:
    key: CHANGE_ME
    url: https://calendarific.com/api/v2/holidays
hrm:
  app:
    jwtSecret: CHANGE_ME_local_dev_secret_min_32_chars
server:
  address: 0.0.0.0
  port: 9800
