apiVersion: v1
kind: ConfigMap
metadata:
  name: hrm-app-config
  namespace: hrm-tool
data:
  application.yaml: |
    spring:
      application:
        name: hrm-tool-next-gen
      profiles:
        active: kubernetes
      output:
        ansi:
          enabled: always
      data:
        redis:
          host: redis-service
          port: "6379"
          database: "10"
      datasource:
        url: jdbc:mysql://mysql-service:3306/hrm?createDatabaseIfNotExist=true&useLegacyDatetimeCode=false&allowPublicKeyRetrieval=true
        username: ${SPRING_DATASOURCE_USERNAME:mysqladmin}
        driverClassName: com.mysql.cj.jdbc.Driver
      jpa:
        hibernate:
          ddl-auto: none
        open-in-view: false
        show-sql: false
        properties:
          hibernate:
            format_sql: false
      servlet:
        multipart:
          enabled: true
          file-size-threshold: 15MB
          max-file-size: 20MB
          max-request-size: 20MB
      main:
        allow-bean-definition-overriding: true
      liquibase:
        enabled: true
        change-log: classpath:/db/master.xml
        database-change-log-table: database-liquibase-changelog
        database-change-log-lock-table: database-liquibase-changelog-lock
      rabbitmq:
        host: rabbitmq-service
        port: "5672"
        username: ${SPRING_RABBITMQ_USERNAME:rabbitmq_admin}
        virtual-host: local
        connection-timeout: PT5S
        listener:
          simple:
            retry:
              enabled: true
              initial-interval: PT2S
              max-attempts: 3
              multiplier: 1.5
              max-interval: PT10S
      mail:
        properties:
          mail:
            smtp:
              auth: true
              starttls:
                enable: true
    server:
      address: 0.0.0.0
      port: 8081
    logging:
      level:
        com:
          vatek:
            hrmtoolnextgen: INFO
        root: INFO
    springdoc:
      swagger-ui:
        path: /swagger-ui.html
      api-docs:
        path: /v3/api-docs
        version: OPENAPI_3_1
      packagesToScan: com.vatek.hrmtoolnextgen.controller
    management:
      endpoints:
        web:
          exposure:
            include: health,info,metrics
      endpoint:
        health:
          show-details: when-authorized
